

.caja11{
    width:70px;
    height: 70px;
    background-color: black;
    display: inline-block;
}
.caja12{
    width:70px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    
}
.caja13{
    width:70px;
    height: 70px;
    background-color: rgb(255, 251, 37);
    display: inline-block;
}
.caja21{
    width:665px;
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    
    
}
.caja22{
    width:665px;
    height: 90px;
    background-color: rgb(255, 168, 219);
    display: inline-block;
  
}

.caja31{
    width:500px;
    height: 90px;
    background-color: rgb(255, 168, 219);
    display: inline-block;
    position: relative;
    left: 165px;
  
}
.caja32{
    width:500px;
    height: 90px;
    background-color: rgb(43, 82, 28);
    display: inline-block;
    position: relative;
    left: 165px;
   
  
}
.caja311{
    width:40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0px;
    
}
.caja321{
    width:40px;
    height: 40px;
    background-color: rgb(251, 255, 0);
    position: absolute;
    bottom:0px;
    right: 0px ;
    
}

